# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
.venv/
venv/
ENV/
env/

# Packaging / build
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Tests / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/

# Logs
*.log

# PyCharm
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# anything in Books directory
Books/